/*
Orona, © 2010 Stéphan Kochen

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.
*/

* {
  margin: 0; border: 0; padding: 0;
  overflow: hidden;
}

body {
  background: black;
}

canvas {
  cursor: crosshair;
}

#input-dummy {
  position: absolute;
  z-index: -1;
}

.vignette {
  position: fixed; z-index: 10;
  top: 0; right: 0; bottom: 0; left: 0;
  background: black; color: white;
}

.vignette-message {
  position: absolute;
  top: 45%; left: 0; right: 0;
  text-align: center;
}

#hud {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

#pillStatus, #baseStatus, #tankStatus {
  position: absolute;
  border: 2px solid #c0c0f0;
  background: black;
}

#tankStatus {
  bottom: 8px; right: 8px;
  width: 51px; height: 150px;
}

#tankStatus .deco {
  background: url(images/tankstats.png);
  position: absolute;
  bottom: 3px; left: 3px;
  width: 45px; height: 9px;
}

.gauge {
  position: absolute;
  top: 3px; bottom: 15px;
  width: 3px;
}

.gauge-content {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background: yellow;
}

#tankShells { left: 6px; }
#tankMines  { left: 18px; }
#tankArmour { left: 30px; }
#tankTrees  { left: 42px; }

#pillStatus, #baseStatus {
  width: 129px; height: 66px;
}

#pillStatus .deco, #baseStatus .deco {
  position: absolute;
  bottom: 3px; right: 4px;
  width: 16px; height: 16px;
  background: url(images/small.png);
}

#pillStatus .pill, #baseStatus .base {
  float: left;
  width: 14px; height: 14px;
  margin: 3px 0 0 3px;
  border: 2px solid;
}

#pillStatus {
  bottom: 8px; left: 8px;
}

#pillStatus .deco {
  background-position: -240px -64px;
}

/* FIXME: this slows down things a bit. Perhaps just use images? */
/*
#pillStatus .pill {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
*/

#baseStatus {
  bottom: 8px; left: 149px;
}

#baseStatus .deco {
  background-position: -256px -64px;
}

#pillStatus .pill[status='neutral'], #baseStatus .base[status='neutral'] {
  border-color: #f0f0f0;
  background: #a0a0a0;
}

#tool-select {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%;
  text-align: center;
}

.bolo-tool {
  width: 46px; height: 42px;
  background: url(images/tools.png);
}

.bolo-tool-forest   { background-position: -0px   0; }
.bolo-tool-road     { background-position: -46px  0; }
.bolo-tool-building { background-position: -92px  0; }
.bolo-tool-pillbox  { background-position: -138px 0; }
.bolo-tool-mine     { background-position: -184px 0; }
