{
  "general": {
    "base": "http://localhost:8124",
    "maxgames": 5
  },
  "web": {
    "port": 8124,
    "log": true,
    "gzip": true
  },
  "irc": {
    "freenode": {
      "server": "irc.freenode.net",
      "encoding": "utf-8",
      "nick": "MyBoloBot",
      "channels": ["#mytestchannel"],
      "log": true,
      "user": {
        "username": "orona",
        "realname": "Orona Bot"
      },
      "admin": "~me@myprovider.net"
    }
  }
}
